.Navbar {
    position: absolute;
    display:inline-block;
    width: 100%;
    padding: 1em;
    font-family: 'Sora', sans-serif;  
    font-size:12px;
}

.navLogo {
    height: 5.5em;
    padding-left: 0.5em;
    padding-right: 5em;
}

.Links {
    float: right;
    padding-top: 2em;
    padding-right: 6em;
}

.navLink {
    color:white;
    text-decoration:none;
    transition: color 0.3s ease-out;
    font-size: 1.4em;
    padding:25px;
    text-transform:uppercase;
}

.faceLink {
    margin-top: -1.3em;
    padding-left: 1.2em;
    float: right;
}

.navLink:hover {
    color: #3498db;
  }