.Navbar {
    position: absolute;
    display:inline-block;
    width: 100%;
    padding: 1em;
    font-family: 'Sora', sans-serif;  
    font-size:12px;
}

.navLogo {
    height: 5.5em;
    padding-left: 0.5em;
    padding-right: 5em;
}

.Links {
    float: right;
    padding-top: 2em;
    padding-right: 6em;
}

.navLink {
    color:white;
    text-decoration:none;
    transition: color 0.3s ease-out;
    font-size: 1.4em;
    padding:25px;
    text-transform:uppercase;
}

.navLink:hover {
    color: #D40000;
}   


.faceLink {
    margin-top: -1.3em;
    padding-left: 1.2em;
    float: right;
    transition:0.6s;
}

.faceLink:hover {
    transform: scale(1.15);
}

@media screen and (max-width: 750px) {
    .Navbar {
        display:inline-block;
        width: 100%;
        padding: 1em;
        font-family: 'Sora', sans-serif;  
        font-size:13px;
        text-align: center;
    }

    .navLogo {
        height: 7.5em;

    }

    .Links {
        float:none;
        left: 50%;
        right: 50%;
    }

    .navLink {
        text-align: center;
    }

    .faceLink {
        position:absolute;
        top: 25px;
        right: 50px;
    }

}